.main {
	background:green;
	width: 90%;
	height: 500px;
	margin:10px;
}

body div.logo{
	width:100px; 
	height: 30px;
	float:center;
    clear:left;
	background: pink;
	margin:10px;
	}

	
body div.menu{
    width:90%;
    height: 50px;
    float:left;
    background-color: brown;
    margin:10px;
}

li{
	float:left;
	margin:20px;



-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 40px;
}

body div.banner{
    width:90%;
    height: 100px;
    float:left;
    background-color: red;
    margin:10px;
}


body div.destaque{
    width:22%;
    height: 50px;
    float:left;
    background-color:brown;
    margin:10px;
}



